#include <dt-bindings/gpio/gpio.h>

&encoder: encoder {
    compatible = "alps,ec11";
    a-gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
    b-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
    steps = <20>;
    status = "okay";
};
