#include <dt-bindings/gpio/gpio.h>

/ {
    chosen {
        zmk,keymap-sensors = &sensors;
    };

    my_encoder: my_encoder {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        b-gpios = <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        steps = <20>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&my_encoder>;
        triggers-per-rotation = <20>;
    };
};